<div class="main-wrapper">
  <app-menu></app-menu>
    <div class="page-wrapper">
      <div class="content">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h4 class="page-title"><b>Edit Profile</b></h4>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <form [formGroup]="updateForm" (ngSubmit)="updateProfile()">
              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <label>NpiNo<span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="npiNo" [(ngModel)]="updatedetails.npiNo" [readonly]="true" />
                  </div>
                </div>

                


                <div class="col-sm-6">
                  <div class="form-group">
                    <label>First Name <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="firstName" [(ngModel)]="updatedetails.firstName" />
                    <span *ngIf="firstName && firstName.invalid && firstName.touched" class="text-danger">Required Field</span>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" type="text" formControlName="lastName" [(ngModel)]="updatedetails.lastName"/>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Specialist <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="department" [(ngModel)]="updatedetails.department"/>
                    <span *ngIf="department && department.invalid && department.touched" class="text-danger">Invalid input</span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group gender-select">
                    <label class="gen-label">Gender:<span class="text-danger">*</span></label>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input
                          type="radio"
                          name="gender"
                          class="form-check-input"
                          formControlName="gender" [(ngModel)]="updatedetails.gender" value="Male"
                        />Male
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input
                          type="radio"
                          name="gender"
                          class="form-check-input" 
                          formControlName="gender" [(ngModel)]="updatedetails.gender" value="Female"
                        />Female
                      </label>
                      <span *ngIf="gender && gender.invalid && gender.touched" class="text-danger">Invalid input</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" formControlName="address" [(ngModel)]="updatedetails.address"  />
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" formControlName="city" [(ngModel)]="updatedetails.city"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Phone Number<span class="text-danger">*</span></label>
                    <input class="form-control" type="tel" name="mobileNo" formControlName="mobileNo" [(ngModel)]="updatedetails.mobileNo"/>
                    <span *ngIf="updateForm.get('mobileNo')?.invalid && updateForm.get('mobileNo')?.touched" class="text-danger">Contact Number is Required</span><br>
                    <span *ngIf="updateForm.get('mobileNo')?.hasError('minlength')" class="text-danger">Contact number should contain 10 characters</span><br>
                    <span *ngIf="updateForm.get('mobileNo')?.hasError('pattern')" class="text-danger">Number should start with 6-9</span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Avatar</label>
                    <div class="profile-upload">
                      <div class="upload-img">
                         <img alt="" src="assets/img/user.jpg" /> 
                      </div>
                      <div class="upload-input">
                        <input type="text" class="form-control" formControlName="avatar" [(ngModel)]="updatedetails.avatar"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Short Biography</label>
                <textarea class="form-control" rows="3" cols="30" formControlName="shortBiography" [(ngModel)]="updatedetails.shortBiography"></textarea>
              </div>
              <div class="form-group">
                <label class="display-block">Status</label>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="doctor_active"
                    value="option1"
                    formControlName="status" [(ngModel)]="updatedetails.status" value=true
                  />
                  <label class="form-check-label" for="doctor_active">
                    Active
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="doctor_inactive"
                    value="option2"
                    formControlName="status" [(ngModel)]="updatedetails.status" value=false
                  />
                  <label class="form-check-label" for="doctor_inactive">
                    Inactive
                  </label>
                  <span *ngIf="updateForm.get('status')?.invalid && updateForm.get('status')?.touched" class="text-danger">Status is Required</span><br>
                </div>
              </div>
              <div class="m-t-20 text-center">
                <button  class="btn btn-primary" type="submit" [disabled]="!updateForm.valid" (click)="confirm()">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
