<div class="main-wrapper">
  <app-menu></app-menu>

  <div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-sm-4 col-3">
          <h4 class="page-title">Pets</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
          <a [routerLink]="['/addPets']" class="btn btn-primary btn-rounded float-right text-light"
            ><i class="fa fa-plus"></i> Add Pets</a
          >
        </div>
        <div class="col-sm-12 text-right m-b-20">
          <a
            class="btn btn-secondary btn-rounded float-right text-light"
            (click)="lists()"
            >List View
          </a>
          <a
            class="btn btn-secondary btn-rounded float-right text-light"
            (click)="cards()"
            >Card View</a
          >
        </div>
      </div>
      <div class="row" *ngIf="list">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped custom-table">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th class="text-right">Action</th>
                  </tr>
              </thead>
              <tbody >
                  <tr  *ngFor=" let p of petList;">
                    <a [routerLink]="['/petInfo/{{p.petId}}']">
                      <td><img width="28" height="28" src="assets/img/user.jpg" class="rounded-circle m-r-5" alt="">{{p.petName}}</td></a>
                      <td>{{p.petAge}}</td>
                      <td>{{p.state}},{{p.country}}</td>
                      <td>{{p.parentPhoneNumber}}</td>
                      <td>{{p.parentEmailId}}</td>
		      <!-- <td class="text-center">
                        <div class="dropdown action-label">
                            <a [ngClass]="p.petStatus ? 'custom-badge status-green dropdown-toggle' : 'custom-badge status-red dropdown-toggle' " href="#"
                                data-toggle="dropdown" aria-expanded="false" [style.color]="p.petStatus?'Green':'red'">
                                {{p.petStatus ? 'Active': 'Inactive'}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="updateStatus('Active', p.petId)">Active</a>
                                <a class="dropdown-item" (click)="updateStatus('Inactive', p.petId)">Inactive</a>
                            </div>
                        </div>
                      </td> -->


                      <td class="text-right">
                          <div class="dropdown dropdown-action">
                              <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" routerLink="/editpet/{{p.petId}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_doctor" (click)="deletePetId(p.petId)"><i class="fa fa-trash-o m-r-5"></i> Delete</a> </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row doctor-grid" *ngIf="card" >
        <div class="col-md-4 col-sm-4 col-lg-3" *ngFor="let p1 of petList;">
          <div class="profile-widget">
            <div class="doctor-img">
              <a class="avatar" [routerLink]="['/petInfo/{{p1.petId}}']"
                ><img alt="" src="/assets/img/catti.png"
              /></a>
              <!-- <a routerLink="petInfo/{{p1.petId}"><h4>{{p1.petName}}</h4></a> -->
            </div>
            <div class="dropdown profile-action">
              <a
                href="#"
                class="action-icon dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
                ><i class="fa fa-ellipsis-v"></i
              ></a>

              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/editpet/{{p1.petId}}"
                  ><i class="fa fa-pencil m-r-5"></i> Edit</a
                >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#delete_doctor"
                  (click)="deletePetId(p1.petId)"
                  ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                >
                <!-- <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#update-status"
                  (click)="updateStatus(p1.petStatus, p1.petId)"
                  ><i class="fa fa-user-o" aria-hidden="true"></i> {{p1.petStatus?'Deactivate Pet':'Activate Pet'}}</a
                > -->
              </div>
            </div>
            <h4 class="doctor-name text-ellipsis">
              <a [routerLink]="['/petInfo/{{p1.petId}}']" >{{p1.petName}}</a>
            </h4>

            <div class="user-country">
              <i class="fa fa-map-marker" ></i> {{p1.city}}, {{p1.country}}
            </div>
            <!-- <div class="pet-status" [style.color]="p1.petStatus?'Green':'red'">{{p1.petStatus?'Active':'Inactive'}}</div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="see-all">
            <a class="see-all-btn" href="javascript:void(0);">Load More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="delete_patient" class="modal fade delete-modal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body text-center">
                  <img src="assets/img/sent.png" alt="" width="50" height="46">
                  <h3>Are you sure want to delete this Pet?</h3>
                  <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                      <button type="submit" class="btn btn-danger" (click)="deletePetId(petList.petId)">Delete</button>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>

