<div class="main-wrapper">
  <app-menu></app-menu>
  <div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-sm-4 col-3">
          <h1 class="page-title"><b>Vets details</b></h1>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
          <a
            class="btn btn-primary btn-rounded"
            (click)="lists()"
            (click)="display()"
          >
            <span [style.color]="Show ? 'white' : 'white'"
              ><i class="fa-solid fa-list"></i>&nbsp;{{
                Show ? "Card View" : "List View"
              }}</span
            ></a
          >&nbsp;

          <a
            [routerLink]="['/addVets']"
            class="btn btn-primary btn-rounded float-right"
            ><i class="fa fa-plus"></i> Add Vets</a
          >
        </div>
      </div>

      <!-----Display Doctors as a card------>

      <div class="row doctor-grid" *ngIf="card">
        <div class="col-md-4 col-sm-4 col-lg-3" *ngFor="let vet of vetDetails">
          <div class="profile-widget">
            <div class="doctor-img">
              <a class="avatar"><img alt="" src="{{ vet.avatar }}" /></a>
            </div>

            <div class="dropdown profile-action">
              <a
                href="#"
                class="action-icon dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
                ><i class="fa fa-ellipsis-v"></i
              ></a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/editInfo/{{ vet.npiNo }}"
                  ><i class="fa fa-pencil m-r-5"></i>Edit</a
                >
                <!-- Inside the anchor tag write the click event with the name deactivateVets and pass the nipNo as an argument -->
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#deactivate_doctor"
                  (click)="deactivateVets(vet.npiNo)"
                >
                  <i class="fa-solid fa-circle-xmark"></i> Deactivate</a
                >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#delete_doctor"
                  (click)="deleteId(vet.npiNo)"
                  ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                >
              </div>
            </div>

            <h4 class="doctor-name text-ellipsis">
              <a  class="doctorname" [routerLink]="['/vetInfo/{{vet.npiNo}}/{{vet.userName}}']">
                Dr. {{ vet.firstName }} {{ vet.lastName }}
              </a>
            </h4>
            <div class="doc-prof">{{ vet.department }}</div>
            <div>
              <span [style.color]="vet.status ? 'green' : 'red'">{{
                vet.status ? "Available" : "Not Available"
              }}</span>
            </div>
            <div class="user-country">
              <i class="fa fa-map-marker"></i> {{ vet.country }} {{ vet.state }}
            </div>
          </div>
        </div>
      </div>

      <!-----Display Doctors------>
      <!-- Display Doctors as List -->
      <div *ngIf="list">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped custom-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Status</th>
                    <th><i class="fa fa-map-marker"></i>&nbsp;Address</th>

                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vet of vetDetails">
                    <td>
                      <img
                        width="60"
                        height="50"
                        src="{{ vet.avatar }}"
                        class="rounded-circle m-r-5"
                        alt=""
                      />
                      <!-- write the class for the anchor tag,
                         to make the changes in first name and last name
                        chnage the css 1)font-weight 2) font-size -->
                      <a
                        [routerLink]="[
                          '/vetInfo/{{vet.npiNo}}/{{vet.userName}}'
                        ]"
                        >&nbsp;Dr.{{ vet.firstName }} {{ vet.lastName }}</a
                      >
                    </td>
                    <td>{{ vet.department }}</td>
                    <td>
                      <span [style.color]="vet.status ? 'green' : 'red'">{{
                        vet.status
                          ? "Available"
                          : "Not
                        Available"
                      }}</span>
                    </td>
                    <td>{{ vet.city }} {{ vet.state }}</td>

                    <td class="text-right">
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="action-icon dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fa fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a
                            class="dropdown-item"
                            routerLink="/editInfo/{{ vet.npiNo }}"
                            ><i class="fa fa-pencil m-r-5"></i> Edit</a
                          >

                          <a
                            class="dropdown-item"
                            href="#"
                            data-toggle="modal"
                            data-target="#deactivate_doctor"
                            (click)="deactivateVets(vet.npiNo)"
                          >
                            <i class="fa-solid fa-circle-xmark"></i>
                            Deactivate</a
                          >

                          <a
                            class="dropdown-item"
                            href="#"
                            data-toggle="modal"
                            data-target="#delete_doctor"
                            (click)="deleteId(vet.npiNo)"
                            ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Display Doctors as List -->

        <div class="row">
          <div class="col-sm-12">
            <div class="see-all">
              <a class="see-all-btn" href="javascript:void(0);">Load More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
