.page-title{
  font-size: xx-large;
  font-style: normal;
}
.profile-widget:hover
{
    box-shadow: 10px 20px 20px rgb(112, 110, 110);
}
.doctorname{
  font-weight: 500;
}

.vetdept{
  font-weight: 300;
}

/* write the css to change the font-weight and font-size of first name of list card in vets */
